@import "./loading.css";

:root {
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  --button-pading: 8px;
  --input-border: 1px solid silver;
  --radius: 4px;

  --font-micro: 14px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
  opacity: 0.3;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: var(--weight-regular);
  background: url("../img/background.png");
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: silver;
  padding: var(--button-pading);
  border-radius: var(--radius);
  font-weight: var(--weight-bold);
  font-size: var(--font-micro);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-weight: var(--weight-bold);
}

h2 {
  font-weight: var(--weight-bold);
  font-size: var(--font-micro);
}

.container {
  overflow: hidden;
  max-width: 1200px;
  height: 80vh;
  padding: 20px;
  border-radius: var(--radius);
  -webkit-box-shadow: 5px 2px 14px 1px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 2px 14px 1px rgba(0, 0, 0, 0.66);
  margin: 40px auto;
  background-color: whitesmoke;
}

main {
  display: flex;
  align-content: flex-start;
}

.title {
  margin-bottom: 10px;
}

/* section */
section {
  flex-grow: 2;
  margin-right: 50px;
  flex-basis: 0px;
  height: 100%;
}

#video-player {
  display: block;
  width: 100%;
  height: 70%;
  margin-top: 20px;
}

.load-video-block {
  margin: 20px 0;
}

.load-video-block label {
  padding: 8px;
  margin-left: 20px;
  border-radius: var(--radius);
  font-weight: var(--weight-bold);
  cursor: pointer;
  background-color: silver;
  font-size: var(--font-micro);
}

.filename {
  appearance: none;
  border-radius: var(--radius);
  border: var(--input-border);
  padding: var(--button-pading);
}

#load-video {
  display: none;
}

.capture-btn {
  width: 100%;
  cursor: pointer;
}

.capture-btn.disable {
  cursor: not-allowed;
}

/* aside */
aside {
  flex-grow: 1;
  flex-basis: 0px;
  max-height: 700px;
}

.download-form {
  margin-bottom: 20px;
}

.download-form span {
  font-weight: 700;
}

.download-form select {
  margin-right: 20px;
}

.download-form .after-delete {
  margin-top: 10px;
}

.download-form__submit.disable {
  cursor: not-allowed;
}

#capture-list {
  padding-right: 10px;
  overflow-y: scroll;
  max-height: 70%;
}

.capture {
  position: relative;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 7px;
  cursor: grab;
}

/* gu-mirror: dragula 드래그 할 때 나오는 박스의 클래스 명 */
.capture.gu-mirror {
  cursor: grabbing;
}

.capture.active {
  border: 5px solid #1e2021;
}

.capture__image {
  border-radius: var(--radius);
  /* width, height는 template.js에 인라인으로 constants.js에서 받아 사용 */
}

.capture__number {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 23px;
  height: 23px;
  font-size: var(--font-micro);
  border-radius: 50%;
  background-color: gold;
}

.capture.active .capture__number {
  display: flex;
}

.capture__time {
  vertical-align: middle;
}

.capture__icons {
  top: 5px;
  position: absolute;
  right: 20px;
}

.capture__icons i {
  margin-left: 5px;
  cursor: pointer;
}

.capture__icons i:hover {
  opacity: 0.5;
}

@media screen and (max-width: 960px) {
  main {
    flex-direction: column;
  }

  .container {
    height: auto;
  }

  .filename {
    width: 100%;
    margin-bottom: 10px;
  }

  .load-video-block label {
    display: block;
    margin-left: 0;
    text-align: center;
  }

  aside {
    max-height: none;
  }

  .capture-btn {
    margin-bottom: 20px;
  }

  #capture-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    overflow-y: auto;
  }
}
